appdirs==1.4.3
click==6.7
decorator==4.0.11
humanize==0.5.1
ipython==6.0.0
ipython-genutils==0.2.0
jedi==0.10.2
livestreamer==1.12.2
numpy==1.12.1
pickleshare==0.7.4
ply==3.10
prompt-toolkit==1.0.14
Pygments==2.2.0
scikit-learn==0.18.1
simplegeneric==0.8.1
slimit==0.8.1
traitlets==4.3.2
tumdlr==0.2.0
wcwidth==0.1.7
youtube-dl==2017.5.29
YURL==0.13
